# Archivos de Eclipse
.classpath
.project
.settings/

# Archivos y directorios generados por Maven
target/

# Archivos y directorios generados por TestNG
test-output/

# Archivos de reportes
reports/
